SimpleService/BookStore/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookShopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SimpleService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookShop_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBookByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByID" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBookByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthor" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByName" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByGenre" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByPrice" />
  </wsdl:message>
  <wsdl:message name="IBookShop_GetBooksByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IBookShop_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookShop">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/GetBooks" message="tns:IBookShop_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/GetBooksResponse" message="tns:IBookShop_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/GetBookByID" message="tns:IBookShop_GetBookByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/GetBookByIDResponse" message="tns:IBookShop_GetBookByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/GetBooksByAuthor" message="tns:IBookShop_GetBooksByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/GetBooksByAuthorResponse" message="tns:IBookShop_GetBooksByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/GetBooksByName" message="tns:IBookShop_GetBooksByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/GetBooksByNameResponse" message="tns:IBookShop_GetBooksByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/GetBooksByGenre" message="tns:IBookShop_GetBooksByGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/GetBooksByGenreResponse" message="tns:IBookShop_GetBooksByGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/GetBooksByPrice" message="tns:IBookShop_GetBooksByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/GetBooksByPriceResponse" message="tns:IBookShop_GetBooksByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookShop/Search" message="tns:IBookShop_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookShop/SearchResponse" message="tns:IBookShop_Search_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookShop" type="tns:IBookShop">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookShop/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByID">
      <soap:operation soapAction="http://tempuri.org/IBookShop/GetBookByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <soap:operation soapAction="http://tempuri.org/IBookShop/GetBooksByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByName">
      <soap:operation soapAction="http://tempuri.org/IBookShop/GetBooksByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByGenre">
      <soap:operation soapAction="http://tempuri.org/IBookShop/GetBooksByGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByPrice">
      <soap:operation soapAction="http://tempuri.org/IBookShop/GetBooksByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IBookShop/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookShopService">
    <wsdl:port name="BasicHttpBinding_IBookShop" binding="tns:BasicHttpBinding_IBookShop">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SimpleService/BookShopService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>