Hut/MyHutClient/Service References/HutServices/HutService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HutService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IHutService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/Hut?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/Hut?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/Hut?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hut" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHutService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IHutService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IHutService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IHutService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IHutService_SubmitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrder" />
  </wsdl:message>
  <wsdl:message name="IHutService_SubmitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IHutService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IHutService/GetProducts" message="tns:IHutService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHutService/GetProductsResponse" message="tns:IHutService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IHutService/GetCustomers" message="tns:IHutService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHutService/GetCustomersResponse" message="tns:IHutService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHutService/SubmitOrder" message="tns:IHutService_SubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHutService/SubmitOrderResponse" message="tns:IHutService_SubmitOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHutService" type="tns:IHutService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IHutService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IHutService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="http://tempuri.org/IHutService/SubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IHutService" type="tns:IHutService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHutService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/IHutService/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://tempuri.org/IHutService/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <soap12:operation soapAction="http://tempuri.org/IHutService/SubmitOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HutService">
    <wsdl:port name="BasicHttpBinding_IHutService" binding="tns:BasicHttpBinding_IHutService">
      <soap:address location="http://localhost:2112/Hut" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IHutService" binding="tns:NetTcpBinding_IHutService">
      <soap12:address location="net.tcp://localhost:1221/Hut" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1221/Hut</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-8FST53U\Dell</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>